{:deps
 {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:antq
  {:deps {com.github.liquidz/antq {:mvn/version "2.1.939"}
          org.slf4j/slf4j-nop {:mvn/version "2.0.3"}}}
  :release
  {:extra-deps
   {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}
  :test
  {:extra-paths ["test"]
   :extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
    com.taoensso/carmine {:mvn/version "3.1.0"}
    compojure/compojure {:mvn/version "1.7.0"}
    ring/ring-mock {:mvn/version "0.4.0"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}
